<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <style>
        .active {
            background-color:#ddd;
        }
    </style>
</head>
<body>
<div id="app">
    <h2 :title="title">
        {{title}}
    </h2>

    <div>
        <input type="text" v-model="course" @keydown.enter="addCourse"/>
        <button @click="addCourse"> 新增申请 </button>
    </div>

    <!-- 条件渲染 -->
    <p v-if="courses.length == 0">
        没有课程信息
    </p>
    <div v-else class="course-list">
        <div v-for="c in courses" :key="c" :class="{ active: selectCourse === c }" @click="selectCourse=c">
            {{ c }}
        </div>
    </div>

</div>

<script src="vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            title: '购物车',
            course: '',
            selectedCourse:'',
            // courses: ['web全栈', 'web高级']
            courses: []
        },
        methods: {
            addCourse() {
                // 添加course到数组
                this.courses.push(this.course);
                // 清空course
                this.course = '';
            }
        }
    });
</script>
</body>
</html>