<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fx computed</title>
    <style>
        .active {
            background-color:#ddd;
        }
    </style>
</head>
<body>
<div id="app">
    <h2 :title="title">
        {{title}}
    </h2>
    <div>
        <input type="text" v-model="course" @keydown.enter="addCourse"/>
        <button @click="addCourse"> 新增申请 </button>
    </div>
    <p v-if="courses.length == 0">
        没有课程信息
    </p>
    <div v-else class="course-list">
        <div v-for="c in courses" :key="c" :class="{ active: selectCourse === c }" @click="selectCourse=c">
            {{ c }}
        </div>
    </div>
    <p>
        <!-- 绑定表达式 -->
         <!--课程总数：{{courses.length + '门'}}-->
        <!-- 计算属性 -->
         <!--课程总数：{{total}}-->
        <!-- 侦听器 -->
        课程总数：{{totalCount}}
    </p>

</div>

<script src="vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            title: '购物车',
            course: '',
            selectedCourse:'',
            courses: ['web全栈', 'web高级'],
            totalCount:0
        },
        methods: {
            addCourse() {
                this.courses.push(this.course);
                this.course = '';
            }
        },
        computed:{
            total() {
                // 计算属性有缓存性：如果值没有发生变化，则页面不回重新渲染
                return this.courses.length + '门' ;
            }
        },
        watch: {
            courses: {
                immediate: true,
                // deep: true,
                handler(newValue, oldValue) {
                    this.totalCount = newValue.length + '门';
                }
            }
        },

    });
</script>
</body>
</html>