<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>temp v-model</title>
</head>
<body>

<div id="app">
    <h2 :title = "title"> {{title}} </h2>

    <course-add v-model="course" @add-course="addCourse"></course-add>
    <!-- 条件渲染 -->
    <course-list :courses="courses"></course-list>

    <p>
        <!-- 绑定表达式 -->
        <!-- 课程总数：{{courses.length + '门'}} -->
        <!-- 计算属性 --> <!-- 课程总数：{{total}} -->
        <!-- 监听器 -->
        课程总数：{{totalCount}}
    </p>

</div>

<script src="vue.js"></script>
<script>

    function getCourses() {
        return new Promise(resolve => {
            setTimeout(() => {
                resolve(['web全栈', 'web高级'])
            }, 2000);
        })
    }

    Vue.component('course-add',{
       props:['value'],
        template:`<div>
<input type="text" :value="value" @input = 'onInput' @keydown.enter="addCourse" />
<button @click="addCourse">添加课程</button>
</div>`,
       methods:{
           addCourse() {
               this.$emit('add-course')
           },
           onInput (e) {
               this.$emit('input', e.target.value);
           }
       }
    });

    Vue.component('course-list',{
        data () {
            return {
                selectedCourse:''
            }
        },
        props: {
            courses:{
                type:Array,
                default:[]
            }
        },
        template:`<div>
<p v-if="courses.length == 0">没有课程信息</p>
<div v-else class="course-list">
<div v-for="c in courses" :key="c" :style="{'background-color': (selectedCourse === c ? '#ddd' : 'transparent')}" @click="selectedCourse = c">
{{ c }}
</div>
</div>
</div>`
    });

    const app = new Vue({
        el:'#app',
        data () {
            return {
                title:'购物车',
                course: '',
                courses:[],
                totalCount:0
            }
        },
        async created () {
            const courses = await getCourses();
            this.courses = courses
        },
        methods :{
            // 回调函数接收事件参数
            /*addCourse(course) {
                this.courses.push(course);
            }*/
            addCourse() {// 还原addCourse
                this.courses.push(this.course);
                this.course = '';
            }
        },
        computed :{
            total() {
                return this.courses.length + '门';
            }
        },
        watch: {
            courses: {
                immediate: true,
                // deep: true,
                handler(newValue, oldValue) {
                    this.totalCount = newValue.length + '门';
                }
            },
        }
    })
</script>
</body>
</html>